{% extends "base.html" %}

        {% block header %}
    <title>订单列表</title>
{% end %}
{% block styleblock %}
<link rel="stylesheet" href="{{ static_url('css/orderList.css') }}"/>
<link rel="stylesheet" href="{{ static_url('plugin/notify/notification.css') }}"/>
<script src="{{ static_url('js/orderlist/comm.js') }}" charset="utf-8"></script>

{% end %}
        {% block main %}

<div class="siderBar">
<ul class="nav nav-sidebar">
            <li class="active"><a href="#">全部订单 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">待处理</a></li>
            <li><a href="#">待打单</a></li>
            <li><a href="#">已发货</a></li>
          </ul>

</div>

		<div class="container theme-showcase rightBody" role="main">
            <div>
    <div class="col-lg-6">
    <button type="button" class="btn btn-danger" id="checkOrder">导入订单</button>
<button type="button" class="btn btn-danger" id="checkSku">同步sku</button>
<button type="button" class="btn btn-danger" id="matchPurchase">匹配采购订单</button></div>

    <div class="col-lg-6">
        <form action="">
        <div class="input-group">
            <input type="hidden" name="page" value="1" />
            <input type="hidden" name="status" value="{{ filterData['status'] }}" />

          <input type="text" class="form-control" name="wd" value="{{ filterData['wd'] }}" placeholder="搜索产品标题/sku/订单号/买家姓名电话/快递单号">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">搜索</button>
          </span>
        </div><!-- /input-group -->

            </form>
      </div>


</div>
            <div class="filterBox">
                <div>
                    <p> <span>店铺：</span> <a href="?store=&status={{ filterData['status'] }}&page=1" class="label label-default{% if '' == filterData['store'] %} active{% end%}">全部</a>
            {% for store in filterData['appList'] %}
            <a href="?store={{ store['storeId'] }}&status={{ filterData['status'] }}&page=1" class="label label-default{% if store['storeId'] == filterData['store'] %} active{% end%}">{{ store['cnName'] }}</a>
            {% end %}
        </p>
                </div>
                <div>
                    <p> <span>状态：</span> <a href="?status=&store={{ filterData['store'] }}&page=1" class="label label-default{% if '' == filterData['status'] %} active{% end%}">全部</a>
            {% for s in filterData['statusList'] %}<a href="?status={{ s['status'] }}&store={{ filterData['store'] }}&page=1" class="label label-default{% if s['status'] == filterData['status'] %} active{% end%}">{{ s['statusTxt'] }} ({{ s['orderCount'] }})</a> {% end %}
        </p>
                </div>
            </div>




        <nav aria-label="Page navigation" class="pull-right">

  <ul class="pagination">
      <li> <span>总数量：{{ pageInfo['totalCount'] }}，每页{{ pageInfo['pageSize'] }}条，共{{ pageInfo['totalPage'] }} 页</span></li>
      <li> <span>跳转到</span><span><input type="number" class="form-control pageNo" name="pageNo" value="{{ pageInfo['pageNo'] }}"></span> <span><button class="btn btn-sm btn-primary">确定</button></span></li>
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
      {% for p in pageInfo['pageList'] %}
        {% if p==pageInfo['pageNo'] %}
      <li class="active"><a href="#">{{ p }}<span class="sr-only">(current)</span></a></li>
        {% else %}
      <li><a href="?page={{ p }}{% if filterData['status'] != '' %}&status={{ filterData['status'] }}{% end %}{% if filterData['wd'] != '' %}&wd={{ filterData['wd'] }}{% end %}">{{ p }}</a></li>
        {% end %}
    {% end %}

    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

        <div class="btn-toolbar" role="toolbar" style="display: none;">
      <button type="button" class="btn btn-default btn-sm" id="checkSkuu">同步SKU</button>
      <button type="button" class="btn btn-default btn-sm">更新订单</button>
    </div>

           <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th style="width: 30px;border-right:none; "><input type="checkbox" id="checkAll"/></th>
                    <th style="border-left:none; ">商品信息</th>
                    <th style="width: 120px;">金额</th>
                    <th style="width: 100px;">买家信息</th>
                    <th style="width: 180px;">时间</th>
                    <th colspan="2" style="">物流信息</th>
                    <th style="width: 100px;">订单状态</th>
                    <th style="width: 120px;">操作</th>
                </tr>
                </thead>
               {% for order in orderList %}
                <tbody>
                <input name="orderId" value="{{ order['orderId'] }}" class="orderid" type="hidden">
                <tr>
                    <td colspan="9" class="blank"></td>
                </tr>
                <tr class="head">
                    <td colspan="9">
                        <input type="checkbox" name="checkedOrder" value="{{ order['orderId'] }}">
                        <span class="head-item" style="width: 190px">订单编号：
                            <a href="javascript:;" target="_blank" class="suctext limingcentUrlpic">{{ order['orderId'] }}</a></span>
                        {% if order.has_key('storeInfo') %}
                            <span class="head-item">店铺：{{ order['storeInfo']['cnName'] }}</span>
                            <span class="head-item">负责人：{{ order['storeInfo']['dealPeron']['puerchase'] }}</span>
                           {% end %}

                            <span class="head-item">
                                退款申请：<span style="display:inline;">无</span> </span>

                        <span class="pull-right"><a href="javascript:;" data-val="{{ order['orderId'] }}" class="refresOrder"><i class="glyphicon glyphicon-refresh"></i></a></span>
                    </td>
                </tr>
                <tr class="content">
                    <td colspan="2">
                        {% for sku in order['productList'] %}
						<div class="goodsItem">
                        <input type="hidden" name="checkedSku" value="{{ sku['productId'] }}">
                        <div style="clear: both"></div>
                        <div class="goodsImg">
						{% if sku['productImgUrl'] != None %}
                            <a href="//www.aliexpress.com/item/--/{{ sku['productId'] }}.html" target="_blank"  onMouseOver="toolTip('<img width=300 src={{ sku['productImgUrl'].split('_50')[0] }}>')" onMouseOut="toolTip()">
                                <img class="skuImg lazy" data-val="{{ sku['productId'] }}" src="{{ static_url('img/nopic.png') }}" data-original="{{ sku['productImgUrl'] }}">
                            </a>{% else %}
							<a href="//www.aliexpress.com/item/--/{{ sku['productId'] }}.html" target="_blank">
							<img class="noSkuImg" data-val="{{ sku['productId'] }}" src="//img11.360buyimg.com/n5/jfs/t3271/88/7808807198/85040/49d5cf69/58bccd95Nd1b090a7.jpg">
							</a>
							{% end %}
                        </div>
                        <div class="goodsName">
                            <a href="javascript:void(0);" title="{{ sku['productName'] }}" data-val="{{ sku['productId'] }}" class="limingcentUrlpic">{{ sku['productId'] }}</a>
                        </div>
                        <div class="p-detail">
                            <span class="p-amount">售价:<b>{{ sku['productUnitPrice']['amount'] }}</b> x 数量:<i class="badge">{{ sku['productCount'] }}</i></span>
                            <span class="p-amount">货号:{% if sku.has_key('skuCode') %}<b><a href="javascript:void(0);" class="limingcentUrlpic">{{ sku['skuCode'] }}</a></b>{% end %}</span>
                        </div>
						</div>
                        {% end %}

                    </td>
                    <td class="t-c v-t">
                        <div class="p-value">订单金额:
                            {% if order.has_key('orderAmount') %}
                            <b class="orderAmount">{{ order['orderAmount']['amount'] }}</b>{% else %}
                            <b class="orderAmount">{{ order['payAmount']['amount'] }}</b>
                            {% end %}

                        </div>
                        {% if order.has_key('logisticsAmount') and order['logisticsAmount']['amount'] !=0 %}
                        <div class="p-value">运费:<b class="logisticsAmount">{{ order['logisticsAmount']['amount'] }}</b></div>
                        {% end %}
                        <div class="p-value discount"><small>无优惠信息</small></div>
                    </td>

                    <td>



                    </td>
                    <td>
                        下单：{{ order['gmtCreate'] }}
                        {% if order.has_key('gmtPayTime') %}<br>付款：{{ order['gmtPayTime'] }}{% end %}

                        {% if order.has_key('timeoutLeftTime') %}<br>
                        <code id="validTime-{{ order['_id'] }}"></code>
                        <script>addTimer("validTime-{{ order['_id'] }}", "{{ order['updateTime'] }}","{{ order['timeoutLeftTime'] }}");</script>
                        {% end %}


                    </td>
                    <td class="t-c" colspan="2">
                        <button class="btn btn-primary btn-sm showPurchase" data-toggle="modal" data-target="#myModal" data-val="{{ order['orderId'] }}">选择物流</button>

                    </td>
                    <td class="t-c">

                        {% if order['orderStatus'] == 'WAIT_SELLER_SEND_GOODS' %}等待发货{% else %}
                        {% if order['orderStatus'] == 'WAIT_BUYER_ACCEPT_GOODS' %}等待买家收货{% else %}
                        {% if order['orderStatus'] == 'RISK_CONTROL' %}风控中{% else %}
                        {% if order['orderStatus'] == 'IN_CANCEL' %}买家申请取消{% else %}
                        {% if order['orderStatus'] == 'PLACE_ORDER_SUCCESS' %}等待买家付款{% else %}
                        {% if order['orderStatus'] == 'FINISH' %}已结束{% else %}
                        {{ order['orderStatus'] }}{% end %}{% end %}
						{% end %}
						{% end %}
						{% end %}
						{% end %}


						</td>
                    <td class="t-c">
						<div class="actionLink">
                        <a href="javascript:void(0);" style="display: block;" class="tjbz">修改收货信息</a>
                        <a href="#" style="display: block;">多库发货</a>
                        <a href="#" style="display: block;" target="_blank">查看详情</a>
                        <a href="javascript:void(0);" style="display:block;">添加备注</a>
                        <a href="javascript:void(0);" style="">延迟发货提醒</a>
						</div>
                    </td>
                </tr>
                </tbody>

               {% end %}

            </table>

<p class="pull-right p-b-1">
    <span>总数量：{{ pageInfo['totalCount'] }}</span>
    <span>，每页{{ pageInfo['pageSize'] }}条</span>
    <span>，共{{ pageInfo['totalPage'] }} 页</span>

    {% for p in pageInfo['pageList'] %}
        {% if p==pageInfo['pageNo'] %}
        <span class="label label-danger">{{ p }}</span>
        {% else %}
        <a href="?page={{ p }}{% if filterData['status'] != '' %}&status={{ filterData['status'] }}{% end %}{% if filterData['wd'] != '' %}&wd={{ filterData['wd'] }}{% end %}" class="">{{ p }}</a>
        {% end %}
    {% end %}
</p>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">填写采购订单</h4>
            </div>
            <div class="modal-body">

                <table class="table">
                    <thead>
                    <tr>
                        <td>产品信息</td>
                        <td>金额</td>
                        <td>采购信息</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary save">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


        <div class="modal fade" id="purchaseOrderModal" tabindex="-2" role="dialog" aria-labelledby="purchaseOrderModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="purchaseOrderModalLabel">采购信息</h4>
            </div>
            <div class="modal-body">

                <table class="table">
                    <thead>
                    <tr>
                        <td colspan="2" style="width:200px;">产品信息</td>
                        <td>单价</td>
                        <td>数量</td>
                        <td>金额</td>
                        <td>订单状态</td>
                        <td colspan="3">买家信息</td>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">更新订单</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</div>
        {% end %}

{% block footer %}
<script>

    function GetQueryString(name)
    {
         var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
         var r = window.location.search.substr(1).match(reg);
         if(r!=null)return  decodeURI(r[2]); return null;
    }

    $(document).on('click', '#checkOrder', function() {
        $(this).attr('disabled',true);

        storeId = GetQueryString('store');

        var data = {};

        if(storeId){
            data['storeId']=storeId;
        }

        $.getJSON('/smt/api/checkOrder',data,function (result) {
            if(result.success){
                //window.location.href = '/smt/orderList';
                window.history.go(0);
                //console.log(result.data);
            }
        });

    });

    $(document).on('click', '#checkAll', function() {
        if(this.checked){
            $("input[name='checkedOrder']").each(function(){
                this.checked = true;
                $('[role="toolbar"]').show();
            });
        }else{
            $("input[name='checkedOrder']").each(function(){
                this.checked = false;
                $('[role="toolbar"]').hide();
            });
        }
    });

    $(document).on('click', '#checkSku', function() {
        $(this).attr('disabled',true);

        var arr = [];
        $('[role="noSkuImg"]').each(function(){
            arr.push($(this).attr('data-val'));
        });
        if(arr.length>0){
            $.getJSON('/api/checkSku',{sku:arr.join(',')},function(result){
            if(result.success){
                //window.location.href = '/orderList';
                history.go(0);
            }
        });
        }else{
            console.log('无需要更新的SKU');
        }

    });


    $(document).on('click', '#matchPurchase', function() {
        $(this).attr('disabled',true);

        var arr = [];
        $('input[name="checkedOrder"]:checked').each(function(){
            arr.push($(this).val());
        });
        if(arr.length>0){
            $.getJSON('/api/matchPurchaseOrder',{ids:arr.join(',')},function(result){
                console.log(result);
                if(result.matchCount>0){
                    alert('匹配订单'+result.matchCount+'个');
                    //window.location.href = '/orderList';
                    history.go(0);
                    //console.log(result.matchCount);
                }else{
                    alert('无匹配订单！');
                    $('#matchPurchase').removeAttr('disabled');
                }
            });
        }else{
            console.log('没有选择订单');
            alert('请选择订单！');
            $('#matchPurchase').removeAttr('disabled');
        }

    });



    $(document).on('click', '.refresOrder', function() {
        var orderId = $(this).attr('data-val');
        $.getJSON('/api/checkOrderInfo',{orderId:orderId},function (result) {
            if(result.success){
                history.go(0);
            }
        })
    });

    //showPurchase
    $(document).on('click', '.showPurchase', function() {
        //加载订单
        var orderId = $(this).attr('data-val');
        $.getJSON('/api/getOrderItems',{orderId:orderId},function (result) {
            //console.log(result);

            var html ='';


        });
    });

    //查看匹配的采购信息
    $(document).on('click', '.showPurchaseOrder', function() {
        //加载订单
        var orderId = $(this).text();
        $.getJSON('/api/getPurchaseInfo',{orderId:orderId},function (result) {
            console.log(result);
            var html = '';
            if(result.success){

                var item = result.data;

                html += '<tr class="content"><td colspan="4"><table><tbody>';
                $.each(item['orderEntries'],function(j,goods){
                    html += '<tr data-val="'+goods['sourceId']+'" data-specId="'+goods['specId']+'" class=""><td class="goodsPic"><img src="'+goods['productPic']+'" classs="img-thumbnail"></td>';
                    html += '<td class="goodsInfo"><div class="goodsName"><a href="#" >'+goods['productName']+'</a></div>';

                    if(goods.hasOwnProperty("specInfo")){
                        html += '<div class="p-detail">';
                        $.each(goods['specInfo'],function (j, spec) {
                            html += '<span class="p-amount">'+spec['specName']+':<b>'+spec['specValue']+'</b></span>';
                        });
                        html += '</div>';
                    }
                    html += '</td><td class="goodsPrice"><div class="p-value">'+(parseFloat(goods['price'])/100).toFixed(2)+'</div></td>';
                    html += '</td><td class="goodsQty"><div class="p-value">'+goods['quantity']+'</div></td></tr>';
                });
                html += '</tbody></table></td>';
                html += '<td class="orderAmount"><div class="p-value">'+(parseFloat(item['sumPayment'])/100).toFixed(2)+'</div>';
                if(item['carriage']!=0){
                    html += '<div class="p-value"><small>含运费：'+(parseFloat(item['carriage'])/100).toFixed(2)+'</small></div>';
                }
                html += '</td><td>';
                if(item['status']=='waitsellersend'){
                            html += '<span class="text-info">等待卖家发货</span>';
                        }else if(item['status']=='waitbuyerreceive'){
                            html += '<span class="text-danger">等待买家收货</span>';
                        }else if(item['status']=='waitbuyerpay'){
                            html += '<span class="text-warning">等待付款</span>';
                        }else if(item['status']=='success'){
                            html += '<span class="text-success">交易成功</span>';
                        }else if(item['status']=='cancel'){
                            html += '<span class="text-warning">交易取消</span>';
                        }else{
                            html += '<span class="text-black">'+item['status']+'</span>';
                        }

                html += '</td>';
                html += '<td colspan="2">'+item['toFullName']+' / '+item['toMobile'] + '<br>'+item['toArea'];
                if(item.hasOwnProperty('logistics')){
                    html += '<hr>';
                    html += '<div class="p-detail">';
                    $.each(item['logistics'],function (j, logist) {
                        html += '<span class="p-amount">'+logist['logisticsCompanyName']+':<b>'+logist['logisticsBillNo']+'</b></span>';
                    });
                    html += '</div>';
                }
                html += '</td><td></td></tr>';

            }else{
                html += '<tr><td><h4>获取订单失败!</h4></td></tr>';
            }

            $('#purchaseOrderModal table tbody').html(html);


        });
    });


</script>

<script src="{{ static_url('plugin/toolTips/toolTips.js') }}"></script>
<script src="{{ static_url('plugin/showFrame/showFrame.js') }}"></script>
<script src="{{ static_url('plugin/notify/notify.min.js') }}"></script>
<script src="{{ static_url('plugin/notify/notify-metro.js') }}"></script>
<script src="{{ static_url('plugin/notify/notifications.js') }}"></script>
<script src="{{ static_url('plugin/jscopy/clipboard.min.js') }}"></script>
<script src="{{ static_url('plugin/jscopy/jscopy.js') }}"></script>
<script src="{{ static_url('plugin/lazyload/jquery.lazyload.min.js') }}"></script>

<script type="text/javascript">
    $("img.lazy").lazyload({
        effect: "fadeIn"
    });


    function loadSkuImage() {
        $('.noSkuImg').each(function(){
            var obj = $(this);
            var skuId = obj.attr('data-val');
            $.getJSON('/api/getSkuImage',{skuId:skuId},function (result) {
                //console.log(skuId);
                //console.log($(this));
                obj.attr('src','//img11.360buyimg.com/n5/'+result.imgUrl);
                obj.attr('data-src','//img11.360buyimg.com/n5/s300x300_'+result.imgUrl);
                if(result.mark>0){
                    obj.attr('role','noSkuImg');
                }
                obj.removeClass('noSkuImg');
            });

        });
    }

    loadSkuImage();


</script>

{% end %}

