<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block header %}{% end %}

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="http://v3.bootcss.com/assets/css/docs.min.css">
    <link rel="stylesheet" href="{{ static_url('woderp/css/style.css') }}"/>
	{% block styleblock %}{% end %}
</head>
<body class="{% block bodycss %}{% end %}">

<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WodERP <sup class="text-danger">beta</sup></a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ homePath }}">首页</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">订单列表 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li><a href="{{ homePath }}smt/orderList">速卖通订单</a></li>
                <li><a href="{{ homePath }}jd/orderList">京东订单</a></li>
              </ul>
            </li>
            <li><a href="{{ homePath }}purchase/">采购列表</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">产品库 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>

          </ul>
            <p class="navbar-text navbar-right">

                {% if userInfo['account'] is None %}
                <a href="{{ homePath }}admin/login" class="navbar-link">登录</a> | <a href="{{ homePath }}admin/reg" class="navbar-link">注册</a>
                {% else %}
                Hi, <a href="#" class="navbar-link">{{ userInfo['account'] }}</a>
                 | <a href="{{ homePath }}profile" class="navbar-link">个人资料</a> | <a href="{{ homePath }}admin/logout" class="navbar-link">退出</a>
                {% end %}

            </p>

        </div><!--/.nav-collapse -->

      </div>
    </nav>

	{% block main %}

{% end %}


<footer class="footer ">
    <div class="container">
      <div class="row footer-top">
        <div class="col-sm-6 col-lg-6">
          <h4>
            <img src="{{ static_url('woderp/img/logo.png') }}">
          </h4>
          <p>以大数据选品、供应链SAAS协同等核心技术支持分销交易和海外销售，以全开放的平台设计实现供应商与分销商的要素资源最优配置</p>
        </div>
        <div class="col-sm-6  col-lg-5 col-lg-offset-1">
          <div class="row about">
            <div class="col-xs-3">
              <h4>关于</h4>
              <ul class="list-unstyled">
                <li><a href="/about/">关于我们</a></li>
                <li><a href="/ad/">广告合作</a></li>
                <li><a href="/links/">友情链接</a></li>
                <li><a href="/hr/">招聘</a></li>
              </ul>
            </div>
            <div class="col-xs-3">
              <h4>联系方式</h4>
              <ul class="list-unstyled">
                <li><a href="http://weibo.com/bootcss" title="Bootstrap中文网官方微博" target="_blank">新浪微博</a></li>
                <li><a href="mailto:admin@bootcss.com">电子邮件</a></li>
              </ul>
            </div>
            <div class="col-xs-3">
              <h4>旗下网站</h4>
              <ul class="list-unstyled">
                <li><a href="http://www.golaravel.com/" target="_blank">Laravel中文网</a></li>
                <li><a href="http://www.ghostchina.com/" target="_blank">Ghost中国</a></li>
              </ul>
            </div>
            <div class="col-xs-3">
              <h4>赞助商</h4>
              <ul class="list-unstyled">
                <li><a href="https://www.upyun.com" target="_blank">又拍云</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <hr/>
      <div class="row footer-bottom">
        <ul class="list-inline text-center">
          <li><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></li><li><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011302003488">沪公网安备 31011302003488号</a></li>
        </ul>
      </div>
    </div>
  </footer>


<div id="elevator_item">
        <a id="elevator" onclick="return false;" title="回到顶部"></a>
        <a class="qr"></a>
  	<div class="qr-popup">
    	<a class="code-link"><img class="code" src="{{ static_url('woderp/img/qr.png') }}"/></a>
        <span>扫码关注</span>
    <div class="arr"></div>
  </div>
  
</div>


<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% block footer %}{% end %}


<script type="text/javascript">
$(function() {
	$(window).scroll(function(){
		var scrolltop=$(this).scrollTop();		
		if(scrolltop>=200){		
			$("#elevator_item").show();
		}else{
			$("#elevator_item").hide();
		}
	});		
	$("#elevator").click(function(){
		$("html,body").animate({scrollTop: 0}, 500);	
	});		
	$(".qr").hover(function(){
		$(".qr-popup").show();
	},function(){
		$(".qr-popup").hide();
	});	
});
</script>

</body>
</html>