{% extends "base.html" %}

        {% block header %}
    <title>订单列表</title>
{% end %}

        {% block main %}

           <table class="table ">
                <thead>
                <tr>
                    <th>商品信息</th>
                    <th>金额</th>
                    <th>优惠信息</th>
                    <th>订单状态</th>
                    <th>物流信息</th>
                    <th>买家信息</th>
                    <th>商家备注</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                                    <input name="orderid" value="60172709030" class="orderid" type="hidden">
                                    <tr>
                                        <td colspan=" 9 " class="blank"></td>
                                    </tr>

                                                                        <tr class="head">
                                        <td colspan=" 9">
                                                                                            <input type="checkbox" name="checkedOrder" value="60172709030">
                                                                                        <input type="hidden" name="orderId" value="60172709030">
                                            <input type="hidden" name="mergeFlag" id="mergeFlag_60172709030" value="false">
                                            <input type="hidden" name="consIndexS" id="consIndex_60172709030" value="3C9CAB0AF87754D2383533F1C8C0F9AC">
                                            <input type="hidden" name="mergeOrderIds" id="mergeOrderIds_60172709030" value="60172709030">
                                            <span class="f" style="display: none"><p>60172709030</p></span>
                                            <span class="head-item" style="width: 190px">订单编号：
                                                <a id="60172709030" href="//neworder.shop.jd.com/order/orderDetail?orderId=60172709030" clstag="pageclick|keycount|order_shop_2015081716|19" track="orderinfopagebeta" target="_blank" prompt="复制成功" class="suctext">60172709030</a>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                    <img src="/common/img/venderremark/mobileOrderImgSign.png" title="来自手机的订单">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    </span>
                                            <span class="head-item">货款金额：
                                                                                                    56.00
                                                                                            </span>
                                            <span class="head-item" style="width:180px;">下单时间：2017-08-17 20:10</span>
                                            <span class="head-item" style="width:180px;"> 付款时间：2017-08-17 20:11</span>
                                            <span class="head-item" style="width:180px;">
                                                退款申请：<span style="display:inline;" id="tk_60172709030">无</span>                                            </span>
                                            <span style="width:60px;text-align:right;left: 948px;position:absolute">
                                                <a href="javascript:void(0);" onclick="toRemarkPage(60172709030,168743);">
                                                    <img id="remarkFlag_60172709030" src="/common/img/venderremark/flag-gray.png">
                                                </a>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr class="content">
                                                                                <td colspan="2">
                                                                                                                                                <div style="clear: both">
                                                        <div class="pull-left">
                                                            <a onclick="javascript:viewProduct(60172709030, 11520363961, 11520363961)" href="javaScript:void(0);">
                                                                <img class="img11520363961" height="50" width="50" src="//img11.360buyimg.com/n5/jfs/t3271/88/7808807198/85040/49d5cf69/58bccd95Nd1b090a7.jpg">
                                                            </a>
                                                        </div>
                                                        <div style="margin-left: 67px">
                                                            <a href="javaScript:void(0);" title="简约小菊花iphone6S手机壳浮雕苹果6plus全包壳4.7寸指环支架L 镂空白花 6p/6splus 5.5送挂绳" onclick="javascript:viewProduct(60172709030, 11520363961, 11520363961)">简约小菊花iphone6S手机壳浮雕苹果6plus全包壳4.7寸指环支架L 镂空白花 6p/6splus 5.5送挂绳</a>
                                                        </div>
                                                        <div class="p-detail" style="margin-bottom: 15px">
                                                            <span class="p-amount">商品数量:1</span>
                                                                                                                            <span class="p-amount" style="width: 100px;">货号:A061-2</span>
                                                                                                                                                                                </div>
                                                    </div>
                                                                                                    <div style="clear: both">
                                                        <div class="pull-left">
                                                            <a onclick="javascript:viewProduct(60172709030, 11520363963, 11520363963)" href="javaScript:void(0);">
                                                                <img class="img11520363963" height="50" width="50" src="//img20.360buyimg.com/n5/jfs/t4321/244/1029629384/109810/a7536a47/58bccd9bNc931a05d.jpg">
                                                            </a>
                                                        </div>
                                                        <div style="margin-left: 67px">
                                                            <a href="javaScript:void(0);" title="简约小菊花iphone6S手机壳浮雕苹果6plus全包壳4.7寸指环支架L 镂空黑花 6p/6splus 5.5送挂绳" onclick="javascript:viewProduct(60172709030, 11520363963, 11520363963)">简约小菊花iphone6S手机壳浮雕苹果6plus全包壳4.7寸指环支架L 镂空黑花 6p/6splus 5.5送挂绳</a>
                                                        </div>
                                                        <div class="p-detail" style="margin-bottom: 15px">
                                                            <span class="p-amount">商品数量:1</span>
                                                                                                                            <span class="p-amount" style="width: 100px;">货号:A061-2</span>
                                                                                                                                                                                </div>
                                                    </div>
                                                                                                                                    </td>

                                                                                <td class="t-c v-t">
                                                                                            <div class="p-value1">订单金额:56.00</div>
                                                <div class="p-value2">货款金额:56.00</div>
                                                                                                                                                                                                                                                                                <div class="p-value5"></div>
                                        </td>

                                                                                <td class="t-c">
                                            <div class="discount">
                                                                                                    无优惠信息
                                                                                            </div>
                                        </td>

                                                                                <td class="t-c">
                                            等待出库
                                                                                            <div id="signForOrder_60172709030"></div>
                                                                                                                                </td>

                                                                                                                            <td>
                                                                                                                                                            <select name="deliveryCompany" id="deliveryCompany_60172709030" class="sel" isalpha="true">






                                                                                                                                            <option value="1327" selected="selected">韵达快递</option>










                                                                                                                                                                                                                                                        <option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option></select>
                                                                                                                                                </td>

                                                                                <td class="t-c" id="pin-60172709030" name="dongdongICON">jd_717deaa8981c7<a style="cursor:pointer" onclick="javascript:contactCustomer('yueli16','jd_717deaa8981c7')"><img src="//img10.360buyimg.com/imgzone/jfs/t550/258/1508250935/1456/6eeb7ef4/54cadc67N774b964b.png"></a></td>

                                                                                <td class="t-c" id="orderRemark_60172709030"></td>

                                                                                <td class="t-c" style="width: 150px;">

                                                                                                                                                                        <a clstag="pageclick|keycount|order_shop_2015081716|9" track="outbeta" style="display: block;" name="outStorage" value="60172709030" href="javaScript:void(0);">出库</a>
                                                                                                                            <a onclick="editAdd2('60172709030');" style="display: block;" clstag="pageclick|keycount|order_shop_2015081716|5" track="editAddr" class="tjbz">修改收货信息</a>
                                                                                                                                                                                        <a href="//order.shop.jd.com/order/sopUp_multiLogisticsOut.action?orderId=60172709030&amp;page=1" style="display: block;" clstag="pageclick|keycount|order_shop_2015081716|10" track="batchstoreoutbeta">多库发货</a>
                                                                                                                                                                                                                                                                        <a clstag="pageclick|keycount|order_shop_2015081716|11" track="orderinfopagebeta" href="//neworder.shop.jd.com/order/orderDetail?orderId=60172709030" style="display: block;" target="_blank">查看详情</a>
                                                <a clstag="pageclick|keycount|order_shop_2015081716|12" track="oneremarkbeta" id="remark_60172709030" href="javascript:void(0);" style="display:block;" onclick="toRemarkPage(60172709030,168743);">添加备注</a>

                                            <a clstag="pageclick|keycount|order_shop_2015081716|17" track="oneremarkbeta" id="delay_remind_60172709030" href="javascript:void(0);" style="" onclick="delayDeliveryRemind(60172709030);">延迟发货提醒</a>



                                                                                                                                </td>
                                    </tr>
                                </tbody>
               <tbody>
                                    <input name="orderid" value="60158746084" class="orderid" type="hidden">
                                    <tr>
                                        <td colspan=" 9 " class="blank"></td>
                                    </tr>

                                                                        <tr class="head">
                                        <td colspan=" 9">
                                                                                            <input type="checkbox" name="checkedOrder" value="60158746084">
                                                                                        <input type="hidden" name="orderId" value="60158746084">
                                            <input type="hidden" name="mergeFlag" id="mergeFlag_60158746084" value="false">
                                            <input type="hidden" name="consIndexS" id="consIndex_60158746084" value="95E22A24202EF67E3B106A313523E31C">
                                            <input type="hidden" name="mergeOrderIds" id="mergeOrderIds_60158746084" value="60158746084">
                                            <span class="f" style="display: none"><p>60158746084</p></span>
                                            <span class="head-item" style="width: 190px">订单编号：
                                                <a id="60158746084" href="//neworder.shop.jd.com/order/orderDetail?orderId=60158746084" clstag="pageclick|keycount|order_shop_2015081716|19" track="orderinfopagebeta" target="_blank" prompt="复制成功" class="suctext">60158746084</a>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <img src="/common/img/venderremark/qqOrderImgSign.png" title="来自微店的订单">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </span>
                                            <span class="head-item">货款金额：
                                                                                                    39.00
                                                                                            </span>
                                            <span class="head-item" style="width:180px;">下单时间：2017-08-18 12:31</span>
                                            <span class="head-item" style="width:180px;"> 付款时间：2017-08-18 12:32</span>
                                            <span class="head-item" style="width:180px;">
                                                退款申请：<span style="display:inline;" id="tk_60158746084">无</span>                                            </span>
                                            <span style="width:60px;text-align:right;left: 948px;position:absolute">
                                                <a href="javascript:void(0);" onclick="toRemarkPage(60158746084,168743);">
                                                    <img id="remarkFlag_60158746084" src="/common/img/venderremark/flag-gray.png">
                                                </a>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr class="content">
                                                                                <td colspan="2">
                                                                                                                                                <div style="clear: both">
                                                        <div class="pull-left">
                                                            <a onclick="javascript:viewProduct(60158746084, 11827390240, 11827390240)" href="javaScript:void(0);">
                                                                <img class="img11827390240" height="50" width="50" src="//img10.360buyimg.com/n5/jfs/t4729/104/336793410/183929/96b019ef/58df393cN0ed9a4ac.jpg">
                                                            </a>
                                                        </div>
                                                        <div style="margin-left: 67px">
                                                            <a href="javaScript:void(0);" title="kakao卡通三件套OPPOR9s手机壳卡考R9splus保护套电镀全包软W 卡考三件套 Ryan R9s plus" onclick="javascript:viewProduct(60158746084, 11827390240, 11827390240)">kakao卡通三件套OPPOR9s手机壳卡考R9splus保护套电镀全包软W 卡考三件套 Ryan R9s plus</a>
                                                        </div>
                                                        <div class="p-detail" style="margin-bottom: 15px">
                                                            <span class="p-amount">商品数量:1</span>
                                                                                                                            <span class="p-amount" style="width: 100px;">货号:</span>
                                                                                                                                                                                </div>
                                                    </div>
                                                                                                                                    </td>

                                                                                <td class="t-c v-t">
                                                                                            <div class="p-value1">订单金额:39.00</div>
                                                <div class="p-value2">货款金额:39.00</div>
                                                                                                    <div class="p-value3">运费:8.00</div>                                                                                                                                                                                                                                <div class="p-value5"></div>
                                        </td>

                                                                                <td class="t-c">
                                            <div class="discount">
                                                                                                    无优惠信息
                                                                                            </div>
                                        </td>

                                                                                <td class="t-c">
                                            等待出库
                                                                                            <div id="signForOrder_60158746084"></div>
                                                                                                                                </td>

                                                                                                                            <td>
                                                                                                                                                            <select name="deliveryCompany" id="deliveryCompany_60158746084" class="sel" isalpha="true">






                                                                                                                                            <option value="1327" selected="selected">韵达快递</option>










                                                                                                                                                                                                                                                        <option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option></select>
                                                                                                                                                </td>

                                                                                <td class="t-c" id="pin-60158746084" name="dongdongICON">wdhhxgbdcsdvtc<a style="cursor:pointer" onclick="javascript:contactCustomer('yueli16','wdhhxgbdcsdvtc')"><img src="//img10.360buyimg.com/imgzone/jfs/t550/258/1508250935/1456/6eeb7ef4/54cadc67N774b964b.png"></a></td>

                                                                                <td class="t-c" id="orderRemark_60158746084">换成狗狗</td>

                                                                                <td class="t-c">

                                                                                                                                                                        <a clstag="pageclick|keycount|order_shop_2015081716|9" track="outbeta" style="display: block;" name="outStorage" value="60158746084" href="javaScript:void(0);">出库</a>
                                                                                                                            <a onclick="editAdd2('60158746084');" style="display: block;" clstag="pageclick|keycount|order_shop_2015081716|5" track="editAddr" class="tjbz">修改收货信息</a>
                                                                                                                                                                                        <a href="//order.shop.jd.com/order/sopUp_multiLogisticsOut.action?orderId=60158746084&amp;page=1" style="display: block;" clstag="pageclick|keycount|order_shop_2015081716|10" track="batchstoreoutbeta">多库发货</a>
                                                                                                                                                                                                                                                                        <a clstag="pageclick|keycount|order_shop_2015081716|11" track="orderinfopagebeta" href="//neworder.shop.jd.com/order/orderDetail?orderId=60158746084" style="display: block;" target="_blank">查看详情</a>
                                                <a clstag="pageclick|keycount|order_shop_2015081716|12" track="oneremarkbeta" id="remark_60158746084" href="javascript:void(0);" style="display:block;" onclick="toRemarkPage(60158746084,168743);">修改备注</a>

                                            <a clstag="pageclick|keycount|order_shop_2015081716|17" track="oneremarkbeta" id="delay_remind_60158746084" href="javascript:void(0);" style="" onclick="delayDeliveryRemind(60158746084);">延迟发货提醒</a>



                                                                                                                                </td>
                                    </tr>
                                </tbody>
           <tbody>
                                    <input name="orderid" value="60537507920" class="orderid" type="hidden">
                                    <tr>
                                        <td colspan=" 9 " class="blank"></td>
                                    </tr>

                                                                        <tr class="head">
                                        <td colspan=" 9">
                                                                                            <input type="checkbox" name="checkedOrder" value="60537507920">
                                                                                        <input type="hidden" name="orderId" value="60537507920">
                                            <input type="hidden" name="mergeFlag" id="mergeFlag_60537507920" value="false">
                                            <input type="hidden" name="consIndexS" id="consIndex_60537507920" value="5BE322AD7ED9FAE9AF84A56DE54F246F">
                                            <input type="hidden" name="mergeOrderIds" id="mergeOrderIds_60537507920" value="60537507920">
                                            <span class="f" style="display: none"><p>60537507920</p></span>
                                            <span class="head-item" style="width: 190px">订单编号：
                                                <a id="60537507920" href="//neworder.shop.jd.com/order/orderDetail?orderId=60537507920" clstag="pageclick|keycount|order_shop_2015081716|19" track="orderinfopagebeta" target="_blank" prompt="复制成功" class="suctext">60537507920</a>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                    <img src="/common/img/venderremark/mobileOrderImgSign.png" title="来自手机的订单">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    </span>
                                            <span class="head-item">货款金额：
                                                                                                    46.00
                                                                                            </span>
                                            <span class="head-item" style="width:180px;">下单时间：2017-08-18 17:36</span>
                                            <span class="head-item" style="width:180px;"> 付款时间：2017-08-18 17:37</span>
                                            <span class="head-item" style="width:180px;">
                                                退款申请：<span style="display:inline;" id="tk_60537507920">无</span>                                            </span>
                                            <span style="width:60px;text-align:right;left: 948px;position:absolute">
                                                <a href="javascript:void(0);" onclick="toRemarkPage(60537507920,168743);">
                                                    <img id="remarkFlag_60537507920" src="/common/img/venderremark/flag-gray.png">
                                                </a>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr class="content">
                                                                                <td colspan="2">
                                                                                                                                                <div style="clear: both">
                                                        <div class="pull-left">
                                                            <a onclick="javascript:viewProduct(60537507920, 12325387437, 12325387437)" href="javaScript:void(0);">
                                                                <img class="img12325387437" height="50" width="50" src="//img14.360buyimg.com/n5/jfs/t5401/128/1183538138/105312/760afcd5/590c7fedN1e5f2c51.jpg">
                                                            </a>
                                                        </div>
                                                        <div style="margin-left: 67px">
                                                            <a href="javaScript:void(0);" title="减压神器指尖陀螺 钢珠五角指尖陀螺 缓解压力抗烦躁EDC玩具Y 浅蓝色" onclick="javascript:viewProduct(60537507920, 12325387437, 12325387437)">减压神器指尖陀螺 钢珠五角指尖陀螺 缓解压力抗烦躁EDC玩具Y 浅蓝色</a>
                                                        </div>
                                                        <div class="p-detail" style="margin-bottom: 15px">
                                                            <span class="p-amount">商品数量:1</span>
                                                                                                                            <span class="p-amount" style="width: 100px;">货号:otherY</span>
                                                                                                                                                                                </div>
                                                    </div>
                                                                                                    <div style="clear: both">
                                                        <div class="pull-left">
                                                            <a onclick="javascript:viewProduct(60537507920, 12325387436, 12325387436)" href="javaScript:void(0);">
                                                                <img class="img12325387436" height="50" width="50" src="//img13.360buyimg.com/n5/jfs/t4630/193/4325383066/104224/ebb66550/590c7feeNbb05eb36.jpg">
                                                            </a>
                                                        </div>
                                                        <div style="margin-left: 67px">
                                                            <a href="javaScript:void(0);" title="减压神器指尖陀螺 钢珠五角指尖陀螺 缓解压力抗烦躁EDC玩具Y 绿色" onclick="javascript:viewProduct(60537507920, 12325387436, 12325387436)">减压神器指尖陀螺 钢珠五角指尖陀螺 缓解压力抗烦躁EDC玩具Y 绿色</a>
                                                        </div>
                                                        <div class="p-detail" style="margin-bottom: 15px">
                                                            <span class="p-amount">商品数量:1</span>
                                                                                                                            <span class="p-amount" style="width: 100px;">货号:otherY</span>
                                                                                                                                                                                </div>
                                                    </div>
                                                                                                                                    </td>

                                                                                <td class="t-c v-t">
                                                                                            <div class="p-value1">订单金额:46.00</div>
                                                <div class="p-value2">货款金额:46.00</div>
                                                                                                    <div class="p-value3">运费:8.00</div>                                                                                                                                                                                                                                <div class="p-value5"></div>
                                        </td>

                                                                                <td class="t-c">
                                            <div class="discount">
                                                                                                    无优惠信息
                                                                                            </div>
                                        </td>

                                                                                <td class="t-c">
                                            等待出库
                                                                                            <div id="signForOrder_60537507920"></div>
                                                                                                                                </td>

                                                                                                                            <td>
                                                                                                                                                            <select name="deliveryCompany" id="deliveryCompany_60537507920" class="sel" isalpha="true">






                                                                                                                                            <option value="1327" selected="selected">韵达快递</option>










                                                                                                                                                                                                                                                        <option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option></select>
                                                                                                                                                </td>

                                                                                <td class="t-c" id="pin-60537507920" name="dongdongICON">小情小情<a style="cursor:pointer" onclick="javascript:contactCustomer('yueli16','小情小情')"><img src="//img10.360buyimg.com/imgzone/jfs/t550/258/1508250935/1456/6eeb7ef4/54cadc67N774b964b.png"></a></td>

                                                                                <td class="t-c" id="orderRemark_60537507920"></td>

                                                                                <td class="t-c">

                                                                                                                                                                        <a clstag="pageclick|keycount|order_shop_2015081716|9" track="outbeta" style="display: block;" name="outStorage" value="60537507920" href="javaScript:void(0);">出库</a>
                                                                                                                            <a onclick="editAdd2('60537507920');" style="display: block;" clstag="pageclick|keycount|order_shop_2015081716|5" track="editAddr" class="tjbz">修改收货信息</a>
                                                                                                                                                                                        <a href="//order.shop.jd.com/order/sopUp_multiLogisticsOut.action?orderId=60537507920&amp;page=1" style="display: block;" clstag="pageclick|keycount|order_shop_2015081716|10" track="batchstoreoutbeta">多库发货</a>
                                                                                                                                                                                                                                                                        <a clstag="pageclick|keycount|order_shop_2015081716|11" track="orderinfopagebeta" href="//neworder.shop.jd.com/order/orderDetail?orderId=60537507920" style="display: block;" target="_blank">查看详情</a>
                                                <a clstag="pageclick|keycount|order_shop_2015081716|12" track="oneremarkbeta" id="remark_60537507920" href="javascript:void(0);" style="display:block;" onclick="toRemarkPage(60537507920,168743);">添加备注</a>

                                            <a clstag="pageclick|keycount|order_shop_2015081716|17" track="oneremarkbeta" id="delay_remind_60537507920" href="javascript:void(0);" style="" onclick="delayDeliveryRemind(60537507920);">延迟发货提醒</a>



                                                                                                                                </td>
                                    </tr>
                                </tbody>
           <tbody>
                                    <input name="orderid" value="60539572432" class="orderid" type="hidden">
                                    <tr>
                                        <td colspan=" 9 " class="blank"></td>
                                    </tr>

                                                                        <tr class="head">
                                        <td colspan=" 9">
                                                                                            <input type="checkbox" name="checkedOrder" value="60539572432">
                                                                                        <input type="hidden" name="orderId" value="60539572432">
                                            <input type="hidden" name="mergeFlag" id="mergeFlag_60539572432" value="false">
                                            <input type="hidden" name="consIndexS" id="consIndex_60539572432" value="18F058D13A5061383041AA5F60709C31">
                                            <input type="hidden" name="mergeOrderIds" id="mergeOrderIds_60539572432" value="60539572432">
                                            <span class="f" style="display: none"><p>60539572432</p></span>
                                            <span class="head-item" style="width: 190px">订单编号：
                                                <a id="60539572432" href="//neworder.shop.jd.com/order/orderDetail?orderId=60539572432" clstag="pageclick|keycount|order_shop_2015081716|19" track="orderinfopagebeta" target="_blank" prompt="复制成功" class="suctext">60539572432</a>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <img src="/common/img/venderremark/qqOrderImgSign.png" title="来自微店的订单">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </span>
                                            <span class="head-item">货款金额：
                                                                                                    38.00
                                                                                            </span>
                                            <span class="head-item" style="width:180px;">下单时间：2017-08-18 19:43</span>
                                            <span class="head-item" style="width:180px;"> 付款时间：2017-08-18 19:43</span>
                                            <span class="head-item" style="width:180px;">
                                                退款申请：<span style="display:inline;" id="tk_60539572432">无</span>                                            </span>
                                            <span style="width:60px;text-align:right;left: 948px;position:absolute">
                                                <a href="javascript:void(0);" onclick="toRemarkPage(60539572432,168743);">
                                                    <img id="remarkFlag_60539572432" src="/common/img/venderremark/flag-gray.png">
                                                </a>
                                            </span>
                                        </td>
                                    </tr>

                                    <tr class="content">
                                                                                <td colspan="2">
                                                                                                                                                <div style="clear: both">
                                                        <div class="pull-left">
                                                            <a onclick="javascript:viewProduct(60539572432, 13806397344, 13806397344)" href="javaScript:void(0);">
                                                                <img class="img13806397344" height="50" width="50" src="//img10.360buyimg.com/n5/jfs/t6049/167/4296156353/108509/16167bf4/59624561N9c3529dd.jpg">
                                                            </a>
                                                        </div>
                                                        <div style="margin-left: 67px">
                                                            <a href="javaScript:void(0);" title="韩版休闲简约时尚学院风男女中小学生书包旅游出差帆布背包学生礼品M 浅粉色" onclick="javascript:viewProduct(60539572432, 13806397344, 13806397344)">韩版休闲简约时尚学院风男女中小学生书包旅游出差帆布背包学生礼品M 浅粉色</a>
                                                        </div>
                                                        <div class="p-detail" style="margin-bottom: 15px">
                                                            <span class="p-amount">商品数量:1</span>
                                                                                                                            <span class="p-amount" style="width: 100px;">货号:纯色双肩</span>
                                                                                                                                                                                </div>
                                                    </div>
                                                                                                                                    </td>

                                                                                <td class="t-c v-t">
                                                                                            <div class="p-value1">订单金额:38.00</div>
                                                <div class="p-value2">货款金额:38.00</div>
                                                                                                    <div class="p-value3">运费:8.00</div>                                                                                                                                                                                                                                <div class="p-value5"></div>
                                        </td>

                                                                                <td class="t-c">
                                            <div class="discount">
                                                                                                    无优惠信息
                                                                                            </div>
                                        </td>

                                                                                <td class="t-c">
                                            等待出库
                                                                                            <div id="signForOrder_60539572432"></div>
                                                                                                                                </td>

                                                                                                                            <td>
                                                                                                                                                            <select name="deliveryCompany" id="deliveryCompany_60539572432" class="sel" isalpha="true">






                                                                                                                                            <option value="1327" selected="selected">韵达快递</option>










                                                                                                                                                                                                                                                        <option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option><option></option></select>
                                                                                                                                                </td>

                                                                                <td class="t-c" id="pin-60539572432" name="dongdongICON">wdlxxibtwxwjro<a style="cursor:pointer" onclick="javascript:contactCustomer('yueli16','wdlxxibtwxwjro')"><img src="//img10.360buyimg.com/imgzone/jfs/t550/258/1508250935/1456/6eeb7ef4/54cadc67N774b964b.png"></a></td>

                                                                                <td class="t-c" id="orderRemark_60539572432"></td>

                                                                                <td class="t-c">

                                                                                                                                                                        <a clstag="pageclick|keycount|order_shop_2015081716|9" track="outbeta" style="display: block;" name="outStorage" value="60539572432" href="javaScript:void(0);">出库</a>
                                                                                                                            <a onclick="editAdd2('60539572432');" style="display: block;" clstag="pageclick|keycount|order_shop_2015081716|5" track="editAddr" class="tjbz">修改收货信息</a>
                                                                                                                                                                                        <a href="//order.shop.jd.com/order/sopUp_multiLogisticsOut.action?orderId=60539572432&amp;page=1" style="display: block;" clstag="pageclick|keycount|order_shop_2015081716|10" track="batchstoreoutbeta">多库发货</a>
                                                                                                                                                                                                                                                                        <a clstag="pageclick|keycount|order_shop_2015081716|11" track="orderinfopagebeta" href="//neworder.shop.jd.com/order/orderDetail?orderId=60539572432" style="display: block;" target="_blank">查看详情</a>
                                                <a clstag="pageclick|keycount|order_shop_2015081716|12" track="oneremarkbeta" id="remark_60539572432" href="javascript:void(0);" style="display:block;" onclick="toRemarkPage(60539572432,168743);">添加备注</a>

                                            <a clstag="pageclick|keycount|order_shop_2015081716|17" track="oneremarkbeta" id="delay_remind_60539572432" href="javascript:void(0);" style="" onclick="delayDeliveryRemind(60539572432);">延迟发货提醒</a>



                                                                                                                                </td>
                                    </tr>
                                </tbody>

            </table>
        {% end %}