{% extends "base.tpl" %}

        {% block header %}
    <title>产品列表</title>
{% end %}
{% block styleblock %}
<link rel="stylesheet" href="{{ static_url('woderp/css/orderList.css') }}"/>
<link rel="stylesheet" href="{{ static_url('woderp/plugin/notify/notification.css') }}"/>
<script src="{{ static_url('woderp/js/orderlist/comm.js') }}" charset="utf-8"></script>

{% end %}

{% block bodycss %}procutList{% end %}
        {% block main %}

<div class="siderBar">
<ul class="nav nav-sidebar">
            <li class="active"><a href="#">在线产品 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">待发布</a></li>
            <li><a href="#">采集箱</a></li>
          </ul>

</div>

		<div class="container theme-showcase rightBody" role="main">
            <div>
    <div class="col-lg-6">
    <button type="button" class="btn btn-danger" id="checkProduct">导入产品</button>
    <button type="button" class="btn btn-danger" id="checkNewProduct">同步产品</button>
    </div>

    <div class="col-lg-6">
        <form action="">
        <div class="input-group">
            <input type="hidden" name="page" value="1" />
            <input type="hidden" name="status" value="{{ filterData['status'] }}" />

          <input type="text" class="form-control" name="wd" value="{{ filterData['wd'] }}" placeholder="搜索产品标题/sku/订单号/买家姓名电话/快递单号">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">搜索</button>
          </span>
        </div><!-- /input-group -->

            </form>
      </div>


</div>
            <div class="filterBox">
                <div>
                    <p> <span>店铺：</span> <a href="?store=&status={{ filterData['status'] }}&sort={{ filterData['sort'] }}&create={{ filterData['create'] }}&page=1" class="label label-default{% if '' == filterData['store'] %} active{% end%}">全部</a>
            {% for store in filterData['appList'] %}
            <a href="?store={{ store['storeId'] }}&status={{ filterData['status'] }}&sort={{ filterData['sort'] }}&create={{ filterData['create'] }}&page=1" class="label label-default{% if store['storeId'] == filterData['store'] %} active{% end%}">{{ store['cnName'] }}</a>
            {% end %}
        </p>
                </div>
                <div>
                    <p> <span>状态：</span> <a href="?status=&store={{ filterData['store'] }}&sort={{ filterData['sort'] }}&create={{ filterData['create'] }}&page=1" class="label label-default{% if '' == filterData['status'] %} active{% end%}">全部</a>
            {% for s in filterData['statusList'] %}<a href="?status={{ s['status'] }}&store={{ filterData['store'] }}&sort={{ filterData['sort'] }}&create={{ filterData['create'] }}&page=1" class="label label-default{% if s['status'] == filterData['status'] %} active{% end%}">{{ s['statusTxt'] }} ({{ s['Count'] }})</a> {% end %}
        </p>
                </div>

                <div>
                    <p> <span>时间：</span>
                        <a href="?status={{ filterData['status'] }}&store={{ filterData['store'] }}&sort={{ filterData['sort'] }}&create=&page=1" class="label label-default{% if '' == filterData['create'] %} active{% end%}">全部</a>
                        <a href="?status={{ filterData['status'] }}&store={{ filterData['store'] }}&sort={{ filterData['sort'] }}&create=0&page=1" class="label label-default{% if '0' == filterData['create'] %} active{% end%}">今天</a>
                        <a href="?status={{ filterData['status'] }}&store={{ filterData['store'] }}&sort={{ filterData['sort'] }}&create=1&page=1" class="label label-default{% if '1' == filterData['create'] %} active{% end%}">昨天</a>
                        <a href="?status={{ filterData['status'] }}&store={{ filterData['store'] }}&sort={{ filterData['sort'] }}&create=3&page=1" class="label label-default{% if '3' == filterData['create'] %} active{% end%}">3天</a>
                        <a href="?status={{ filterData['status'] }}&store={{ filterData['store'] }}&sort={{ filterData['sort'] }}&create=7&page=1" class="label label-default{% if '7' == filterData['create'] %} active{% end%}">7天</a>
                        <a href="?status={{ filterData['status'] }}&store={{ filterData['store'] }}&sort={{ filterData['sort'] }}&create=30&page=1" class="label label-default{% if '30' == filterData['create'] %} active{% end%}">本月</a>
                    </p>
                </div>
                <div>
                    <p> <span>排序：</span>
                        <a href="?status={{ filterData['status'] }}&store={{ filterData['store'] }}&create={{ filterData['create'] }}&sort=gmtModified&page=1" class="label label-default{% if '' == filterData['sort'] or 'gmtModified' == filterData['sort'] %} active{% end%}">更新时间</a>
                        <a href="?status={{ filterData['status'] }}&store={{ filterData['store'] }}&create={{ filterData['create'] }}&sort=gmtCreate&page=1" class="label label-default{% if 'gmtCreate' == filterData['sort'] %} active{% end%}">创建时间</a>
                        <a href="?status={{ filterData['status'] }}&store={{ filterData['store'] }}&create={{ filterData['create'] }}&sort=wsOfflineDate&page=1" class="label label-default{% if 'wsOfflineDate' == filterData['sort'] %} active{% end%}">下架时间</a>
                        <a href="?status={{ filterData['status'] }}&store={{ filterData['store'] }}&create={{ filterData['create'] }}&sort=stock&page=1" class="label label-default{% if 'stock' == filterData['sort'] %} active{% end%}">库存</a>
                        <a href="?status={{ filterData['status'] }}&store={{ filterData['store'] }}&create={{ filterData['create'] }}&sort=price&page=1" class="label label-default{% if 'price' == filterData['sort'] %} active{% end%}">价格</a>
                    </p>
                </div>
            </div>




        <nav aria-label="Page navigation" class="pull-right">




  {% if len(pageInfo['pageList'])>0  %}
            <ul class="pagination">
      <li> <span style="border-right:none;padding-right:5px;">总数量：{{ pageInfo['totalCount'] }}，每页</span></li>
      <li> <span style="border-left:none;padding-left:5px;border-right:none;padding-right:5px;"><select name="pageSize" class="form-control pageSize"><option value="50" {% if pageInfo['pageSize']==50 %}selected{% end %} >50</option><option value="100" {% if pageInfo['pageSize']==100 %}selected{% end %}>100</option><option value="200" {% if pageInfo['pageSize']==200 %}selected{% end %}>200</option></select></span></li>
      <li> <span style="border-left:none;padding-left:5px;border-right:none;padding-right:5px;">共{{ pageInfo['totalPage'] }} 页,跳转到</span><span style="border-left:none;padding-left:5px;border-right:none;padding-right:5px;"><input type="number" class="form-control pageNo" name="pageNo" value="{{ pageInfo['pageNo'] }}"></span> <span style="border-left:none;padding-left:5px;border-right:none;padding-right:5px;"><button class="btn btn-sm btn-primary">确定</button></span></li>




      {% if pageInfo['pageNo'] == pageInfo['pageList'][0]%}

      <li class="disabled"><a href="#" aria-label="First"><span aria-hidden="true">|&lt;</span></a></li>
      <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
    </li>
          {% else %}
       <li><a href="?page={{ pageInfo['pageList'][0] }}{% if filterData['store'] != '' %}&store={{ filterData['store'] }}{% end %}{% if filterData['status'] != '' %}&status={{ filterData['status'] }}{% end %}{% if filterData['wd'] != '' %}&wd={{ filterData['wd'] }}{% end %}&sort={{ filterData['sort'] }}&create={{ filterData['create'] }}" aria-label="First"><span aria-hidden="false">|&lt;</span></a></li>
      <li><a href="?page={{ pageInfo['pageNo']-1 }}{% if filterData['store'] != '' %}&store={{ filterData['store'] }}{% end %}{% if filterData['status'] != '' %}&status={{ filterData['status'] }}{% end %}{% if filterData['wd'] != '' %}&wd={{ filterData['wd'] }}{% end %}&sort={{ filterData['sort'] }}&create={{ filterData['create'] }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
    </li>

          {% end %}



      <li class="active"><a href="#">{{ pageInfo['pageNo'] }}<span class="sr-only">(current)</span></a></li>



          {% if pageInfo['pageNo'] == pageInfo['pageList'][-1]%}
      <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    </li>
      <li class="disabled"><a href="#" aria-label="End"><span aria-hidden="true">&gt;|</span></a></li>
          {% else %}
      <li><a href="?page={{ pageInfo['pageNo']+1 }}{% if filterData['store'] != '' %}&store={{ filterData['store'] }}{% end %}{% if filterData['status'] != '' %}&status={{ filterData['status'] }}{% end %}{% if filterData['wd'] != '' %}&wd={{ filterData['wd'] }}{% end %}&sort={{ filterData['sort'] }}&create={{ filterData['create'] }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    </li>
      <li><a href="?page={{ pageInfo['pageList'][-1] }}{% if filterData['store'] != '' %}&store={{ filterData['store'] }}{% end %}{% if filterData['status'] != '' %}&status={{ filterData['status'] }}{% end %}{% if filterData['wd'] != '' %}&wd={{ filterData['wd'] }}{% end %}&sort={{ filterData['sort'] }}&create={{ filterData['create'] }}" aria-label="End"><span aria-hidden="false">&gt;|</span></a></li>
          {% end %}

  </ul>

            {% end %}
</nav>

        <div class="btn-toolbar" role="toolbar" style="display: none;">
            <div class="dropdown">
   <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    批量操作
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>

      <button type="button" class="btn btn-default btn-sm" id="refreshProductInfos">同步产品</button>
      <button type="button" class="btn btn-default btn-sm" id="refreshProductStatus">更新状态</button>
      <button type="button" class="btn btn-default btn-sm" id="reChekTitle">检查标题</button>


    </div>

           <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th style="width: 30px;border-right:none; "><input type="checkbox" id="checkAll"/></th>
                    <th style="border-left:none; ">商品信息</th>
                    <th style="width: 120px;">金额</th>
                    <th style="width: 100px;">状态</th>
                    <th style="width: 100px;">采购信息</th>
                    <th colspan="2" style="">备注</th>
                    <th style="width: 120px;">操作</th>
                </tr>
                </thead>
               {% for item in productData %}
                <tbody>
                <tr>
                    <td colspan="9" class="blank"></td>
                </tr>
                <tr class="head">
                    <td colspan="8">
                        <input type="checkbox" name="checkedOrder" value="{{ item['id'] }}">
                        <span class="head-item" style="width: 190px">SKU编号：
                            <a href="javascript:;" target="_blank" class="suctext limingcentUrlpic">S{{ item['id'].zfill(8) }}</a></span>
                            <span class="head-item">创建时间：{{ item['CREATE_DATE'] }}</span>
                            <span class="head-item"> 更新时间：{{ item['CREATE_DATE'] }}</span>

                        <span class="pull-right"><a href="javascript:;" data-val="{{ item['id'] }}" class="refresOrder"><i class="glyphicon glyphicon-refresh"></i></a></span>
                    </td>
                </tr>
                <tr class="content">
                    <td colspan="2">

						<div class="goodsItem">
                        <input type="hidden" name="checkedSku" value="{{ item['id'] }}">
                        <div style="clear: both"></div>
                        <div class="goodsImg">
                            <a href="javaScript:void(0);"  onMouseOver="toolTip('<img width=300 src={{ item['imageURL'] }}>')" onMouseOut="toolTip()">
                                <img class="skuImg lazy" data-val="{{ item['id'] }}" src="{{ static_url('woderp/img/nopic.png') }}" data-original="{{ item['imageURL'] }}">
                            </a>
                        </div>
                        <div class="goodsName">
                            <a href="javaScript:void(0);" title="{{ item['skuNameCN'] }}" data-val="{{ item['id'] }}">{{ item['skuNameCN'] }}</a>
                        </div>
                        <div class="p-detail">
                            <span class="p-amount">库存:<i class="badge">{{ item['realStock'] }}</i></span>
                            <span class="p-amount">货号:<b>{{ item['sku'] }}</b></span>
                        </div>
						</div>


                    </td>
                    <td class="t-c v-t">
                        <div class="p-value">售价:<b class="orderAmount">{{ item['skuPrice'] }}</b></div>
                        <div class="p-value discount"><small>无优惠信息</small></div>
                    </td>
                    <td class="t-c">

                        {% if item['status'] == '1' %}正常销售{% else %}
                        {% if item['status'] == '2' %}下架{% else %}
                        {% if item['status'] == '4' %}删除{% else %}
                        {{ item['status'] }}{% end %}
						{% end %}
						{% end %}

						</td>
                    <td>

                    </td>
                    <td class="t-c" colspan="2">


                    </td>
                    <td class="t-c">
						<div class="actionLink">
                        <a href="javascript:void(0);" style="display: block;" class="tjbz">修改SKU信息</a>
                        <a href="javascript:void(0);" style="display: block;" target="_blank">查看详情</a>
                        <a href="javascript:void(0);" style="display:block;">添加备注</a>
						</div>
                    </td>
                </tr>
                </tbody>

               {% end %}

            </table>

<p class="pull-right p-b-1">
    <span>总数量：{{ pageInfo['totalCount'] }}</span>
    <span>，每页{{ pageInfo['pageSize'] }}条</span>
    <span>，共{{ pageInfo['totalPage'] }} 页</span>

    {% for p in pageInfo['pageList'] %}
        {% if p==pageInfo['pageNo'] %}
        <span class="label label-danger">{{ p }}</span>
        {% else %}
        <a href="?page={{ p }}{% if filterData['store'] != '' %}&store={{ filterData['store'] }}{% end %}{% if filterData['status'] != '' %}&status={{ filterData['status'] }}{% end %}{% if filterData['wd'] != '' %}&wd={{ filterData['wd'] }}{% end %}&sort={{ filterData['sort'] }}&create={{ filterData['create'] }}" class="">{{ p }}</a>
        {% end %}
    {% end %}
</p>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">填写采购订单</h4>
            </div>
            <div class="modal-body">

                <table class="table">
                    <thead>
                    <tr>
                        <td>产品信息</td>
                        <td>金额</td>
                        <td>采购信息</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary save">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


        <div class="modal fade" id="purchaseOrderModal" tabindex="-2" role="dialog" aria-labelledby="purchaseOrderModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="purchaseOrderModalLabel">采购信息</h4>
            </div>
            <div class="modal-body">

                <table class="table">
                    <thead>
                    <tr>
                        <td colspan="2" style="width:200px;">产品信息</td>
                        <td>单价</td>
                        <td>数量</td>
                        <td>价格</td>
                        <td>状态</td>
                        <td colspan="3">买家信息</td>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">更新订单</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</div>
        {% end %}

{% block footer %}
<script>

    function GetQueryString(name)
    {
         var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
         var r = window.location.search.substr(1).match(reg);
         if(r!=null)return  decodeURI(r[2]); return null;
    }

    //手动同步产品
    $(document).on('click', '#checkProduct', function() {
        $(this).attr('disabled',true);

        var storeId = GetQueryString('store');
        var status = GetQueryString('status');

        var data = {};

        if(storeId){
            data['storeId']=storeId;
        }
        if(status){
            data['status']=status;
        }

        $.getJSON('/smt/api/checkProduct',data,function (result) {
            if(result.success){
                //window.location.href = '/smt/orderList';
                window.history.go(0);
                //console.log(result.data);
            }
        });

    });

    //手动同步产品
    $(document).on('click', '#checkNewProduct', function() {
        $(this).attr('disabled',true);

        var storeId = GetQueryString('store');

        var data = {};

        if(storeId){
            data['storeId']=storeId;
        }

        $.getJSON('/smt/api/refreshNewProductInfos',data,function (result) {
            if(result.success){
                //window.location.href = '/smt/orderList';
                window.history.go(0);
                //console.log(result.data);
            }
        });

    });

    //手动同步产品
    $(document).on('click', '.refreshProduct', function() {
        var refresh = $(this).attr('data-refresh');
        var itmes = {};
        itmes[refresh.split('|')[0]] = refresh.split('|')[1];
        $.getJSON('/smt/api/refreshProductInfos',{'items':JSON.stringify(itmes)},function (result) {
            if(result.success){
                history.go(0);
            }
        });

    });

    $(document).on('click', '#checkAll', function() {
        if(this.checked){
            $("input[name='checkedOrder']").each(function(){
                this.checked = true;
                $('[role="toolbar"]').show();
            });
        }else{
            $("input[name='checkedOrder']").each(function(){
                this.checked = false;
                $('[role="toolbar"]').hide();
            });
        }
    });

    //勾选显示操作按钮
    $(document).on('click', "input[name='checkedOrder']", function() {
        if($("input[name='checkedOrder']:checked").length>0){
            $('[role="toolbar"]').show();
        }else{
            $('[role="toolbar"]').hide();
        }

    });

    //更新订单状态
    $(document).on('click', '#refreshProductStatus', function() {
        $(this).attr('disabled',true);

        var storeId = GetQueryString('store');

        //data = {'items':[{'storeId':'12515','ids':['1111','2222','3333']}]}
        var items = {};
        if(storeId){

            var arr = [];
            $('input[name="checkedOrder"]:checked').each(function(){
                arr.push($(this).val());
            });
            items[storeId] = arr.join(',');
        }else{

            var arr2 = [];
            $('input[name="checkedOrder"]:checked').each(function(){
                if($.inArray($(this).attr('data-store'), arr2)==-1){
                    arr2.push($(this).attr('data-store'));
                    items[$(this).attr('data-store')] = $(this).val();
                }else{
                    items[$(this).attr('data-store')] += ','+$(this).val();
                }
            });
        }

        //console.log(items);
        $.getJSON('/smt/api/refreshProductStatus',{items:JSON.stringify(items)},function (result) {
            if(result.success){
                //window.location.href = '/smt/orderList';
                window.history.go(0);
                //console.log(result.data);
            }
        });

    });

    //更新产品详情
    $(document).on('click', '#refreshProductInfos', function() {
        $(this).attr('disabled',true);

        var storeId = GetQueryString('store');

        //data = {'items':[{'storeId':'12515','ids':['1111','2222','3333']}]}
        var items = {};
        if(storeId){

            var arr = [];
            $('input[name="checkedOrder"]:checked').each(function(){
                arr.push($(this).val());
            });
            items[storeId] = arr.join(',');
        }else{

            var arr2 = [];
            $('input[name="checkedOrder"]:checked').each(function(){
                if($.inArray($(this).attr('data-store'), arr2)==-1){
                    arr2.push($(this).attr('data-store'));
                    items[$(this).attr('data-store')] = $(this).val();
                }else{
                    items[$(this).attr('data-store')] += ','+$(this).val();
                }
            });
        }

        //console.log(items);
        $.getJSON('/smt/api/refreshProductInfos',{items:JSON.stringify(items)},function (result) {
            if(result.success){
                //window.location.href = '/smt/orderList';
                window.history.go(0);
                //console.log(result.data);
            }
        });

    });

    //showPurchase
    $(document).on('click', '.showPurchase', function() {
        //加载订单
        var orderId = $(this).attr('data-val');

    });

    //展开更多SKU
    $(document).on('click', '.showMoreSKU', function() {
        //加载订单
        $(this).removeClass('showMoreSKU');
        $(this).addClass('hideMoreSKU');
        $(this).text('-收起');
        $(this).parent().parent().parent().parent().parent().find('.moreSKU').show();
    });
    //隐藏更多SKU
    $(document).on('click', '.hideMoreSKU', function() {
        //加载订单
        $(this).removeClass('hideMoreSKU');
        $(this).addClass('showMoreSKU');
        $(this).text('+展开');
        $(this).parent().parent().parent().parent().parent().find('.moreSKU').hide();
    });



</script>

<script src="{{ static_url('woderp/plugin/toolTips/toolTips.js') }}"></script>
<script src="{{ static_url('woderp/plugin/showFrame/showFrame.js') }}"></script>
<script src="{{ static_url('woderp/plugin/notify/notify.min.js') }}"></script>
<script src="{{ static_url('woderp/plugin/notify/notify-metro.js') }}"></script>
<script src="{{ static_url('woderp/plugin/notify/notifications.js') }}"></script>
<script src="{{ static_url('woderp/plugin/jscopy/clipboard.min.js') }}"></script>
<script src="{{ static_url('woderp/plugin/jscopy/jscopy.js') }}"></script>
<script src="{{ static_url('woderp/plugin/lazyload/jquery.lazyload.min.js') }}"></script>

<script type="text/javascript">
    $("img.lazy").lazyload({
        effect: "fadeIn"
    });


</script>

{% end %}


